@import '../../assets/styles/style';

.bg {
    height: 100vh;
    background-image: url('../../assets/images/img_error.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.modalContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);

    .flexCenter();
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--white-main-color);
}
// 移动端字体大小为 PC 端字体大小的 0.75 倍
.descText {
    &:nth-child(1) {
        font-size: 6rem;
        font-weight: bold;
    }
    &:nth-child(2) {
        font-size: 1.5rem;
    }
    &:nth-child(3) {
        font-size: 1.125rem;
    }
}
.button {
    padding: .5rem;
    font-size: .75rem;
    border-radius: .5rem;
    border: 1px solid var(--white-main-color);

    &:hover {
        cursor: pointer;
    }
}
@media (min-width: @screen-md-min) {
    .descText {
        &:nth-child(1) {
            font-size: 8rem;
        }
        &:nth-child(2) {
            font-size: 2rem;
        }
        &:nth-child(3) {
            font-size: 1.5rem;
        }
    }
    .button {
        font-size: 1rem;
    }
}
