@import '../../assets/styles/style';

.container {
    .transformCenter();
    width: 20rem;
    outline: none;
    border-radius: .5rem;
    background-color: white;
}
.title {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.content {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.tipText {
    transition: all .3s;
    text-align: center;
    font-size: .75rem;
    color: var(--font-a-color);

    &:hover {
        cursor: pointer;
        color: var(--font-main-color);
    }
}
