@import '../../assets/styles/style';

.container {
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 999;
    top: 0;
    border-bottom: 1px solid @c_main_white;
    background-color: @c_white;

    .flexCenter();
    justify-content: space-between;
}
