@import '../../assets/styles/style';

@footer-height: 6rem;

.container {
    .flexCenter();
    flex-direction: column;
    height: calc(60vh - 2rem - @footer-height);
}
@media (min-width: @screen-md-min) {
    .container {
        height: calc(60vh - 4rem - @footer-height);
    }
}
