.container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
}
.fab {
    background-color: white !important;

    &:hover {
        background-color: var(--blue-main-color) !important;

        .icon {
            color: white;
        }
    }
}
