@import '../../assets/styles/style';

.container {
    height: 50px;
    position: relative;
    top: 90px;
    font-size: 14px;
    letter-spacing: 2px;
    color: @c_font_black;

    .flexCenter();
}
