@import '../../assets/styles/style';

.container {
    width: calc(100% - 4rem);
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}
.containerActive {
    .container();
    backdrop-filter: blur(.5rem);
    border-bottom: 1px solid var(--white-main-color);
}
.title {
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}
.buttonsContainer {
    display: flex;
    gap: 1rem;
}
.buttonActiveByUser {
    display: block;
    padding: .5rem;
    font-weight: bold;
    color: var(--blue-main-color);
}
.button {
    .buttonActiveByUser();
    color: var(--white-main-color);

    &:hover {
        cursor: pointer;
        color: var(--blue-main-color);
    }
}
.buttonActiveBySystem {
    .button();
    color: var(--font-main-color);
}
.searchBarContainer {
    width: 20vw;
    height: 10vw;

    .flexCenter();
}
.mobileButton {
    display: flex;
    align-items: center;
    gap: .25rem;
}
@media (max-width: @screen-md-min) {
    .buttonsContainer {
        flex-direction: column;
        padding: 2rem;
    }
}
