@import '../../assets/styles/style';

.container {
    transition: all 0.5s;
    background-color: @c_white;

    &:hover {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);

        h4, div {
            cursor: pointer;
            background-color: @c_blue_a !important;
        }
    }
}
